:root {
    --main_color: #0090f0;
    --p_color: #7b7b7b;
    --bg_color: #f3f3f3;
    --white_color: #fff;
    --color_heading: #253237;
    --border_color: #d6d6d6d5;
}
.slide_products{
    padding: 50px 0;
}
.top_slide{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border_color);
    padding: 15px 20px 20px 0;
}
.top_slide::after{
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100px;
    height: 2px;
    background: var(--main_color);
}
.top_slide h2{
    font-size: 30px;
    color: var(--main_color);
    margin-bottom: 10px;
    text-transform: capitalize;
}
/*/////////////////////////////////////////////*/
.product{
    width: 250px;
    background: var(--white_color);
    padding: 25px 15px;
    border: 1px solid var(--border_color);
    transition: .3s;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.product:hover{
    border-color: var(--main_color);
    box-shadow: 10px 10px 15px #94949408;

}
.product .img_product{
    position: relative;
    height: 180px;
    padding: 0 20px;
    /* background: #0090f0; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.product .img_product img{
    height: 160px;
    width: auto;
}
.product .name_product{
    margin-bottom: 10px;
    color: var(--color_heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.product .stars{
    margin: 15px 0;
    display: flex;
    gap: 5px;

}
.product .stars svg{
    fill:#f8d941;
    font-size: 18px;
}
.product .price{
    font-weight: bold;
    font-size: 15px;
}
.product .icons{
position: absolute;
top: 30%;
transform: translateY(-50%);
display: flex;
flex-direction: column;
right: -50px;
gap: 10px;
transition: 0.3s;

}
.product:hover .icons{
    right: -4px;
}

.product .icons span{
    width: 40px;
    height: 40px;
    background: var(--bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer; 
    
}
.product .statue_cart{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #253232;
}
.product .statue_cart svg{
    color: rgb(131, 255, 7);
}
.product.in-cart .statue_cart{
    top: 10px;
}

.product.in-cart .icons .btn_Addcart{
    background: var(--main_color);
    pointer-events: none;

}
.product.in-cart .icons .btn_Addcart svg{
    color: var(--white_color);
}



